@{
    ViewBag.Title = "AppHarbor";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page-header">
    <div class="pull-right">
        <img src='@Url.Content("~/img/appharbor.png")' alt="AppHarbor" title="AppHarbor" style="width: 50px" />
    </div>
    <h1>AppHarbor</h1>
</div>

