@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page-header">
    <div class="pull-left">
        <img src='@Url.Content("~/img/octocat.png")' class="img-rounded" alt="GitHub" title="GitHub" style="width: 55px;" />
    </div>
    <h1 style="padding: 10px 0 0 65px;">GitHub</h1>
</div>

<section id="download-github">
    <h3>1. Create a free account</h3>
    <p><a href="https://github.com/signup/free" target="_blank">Create a free account on GitHub.</a></p>
</section>

<section id="download-github">
    <h3>2. Set Up Git</h3>
    <p>
        Follow the <a href="https://help.github.com/articles/set-up-git" target="_blank">setup guide</a> at GitHub or skip it and download the native <a href="http://github-windows.s3.amazonaws.com/GitHubSetup.exe">GitHub for Windows</a> app.
    </p>
</section>

<section id="download-github">
    <h3>3. Create Repository</h3>
    <ol>
        <li>Create a remote repository</li>
        <li>Start GitHub for Windows and clone the remote repository</li>
    </ol>
</section>



