@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page-header">
    <div class="pull-right">
        <img src='@Url.Content("~/img/octocat.png")' alt="Octocat" title="Octocat" style="width: 50px" />
    </div>
    <h1>GitHub</h1>
</div>

<section id="create-account">
    <h3>1. Create a free account</h3>
    <p><a href="https://github.com/signup/free" target="_blank">Create a free account on GitHub</a></p>
</section>

<section id="download-github">
    <h3>2. Set Up Git</h3>
    <ol>
        <li>Download the native <a href="http://github-windows.s3.amazonaws.com/GitHubSetup.exe">GitHub for Windows</a> app</li>
        <li>Install it</li>
        <li>Sign in and setup git (name + e-mail)</li>
        <li>Change the default storage location</li>
    </ol>

    <p>Or alternatively follow the <a href="https://help.github.com/articles/set-up-git" target="_blank">setup guide</a> at GitHub.</p>
</section>

<section id="create-repository">
    <h3>3. Create Repository</h3>
    <ol>
        <li>Create a remote repository (initialize with README and .gitignore)</li>
        <li>Start GitHub for Windows and clone the remote repository</li>
        <li>Open a Shell for the local repository</li>
    </ol>
</section>

<section id="working-with-github">
    <h3>4. Working with GitHub</h3>
    <ol>
        <li>Start Visual Studio and create a new solution</li>
        <li>Perform an initial commit</li>
        <ul>
            <li>git status (untraced files)</li>
            <li>git add . (add untracked files)</li>
            <li>git commit -m "Description" (local commit)</li>
            <li>git push (push to remote repository)</li>
            <li>git log or git log --pretty=oneline (commit history)</li>
        </ul>
        <li>Change some code</li>
        <ul>
            <li>git status</li>
            <li>git add .</li>
            <li>git commit -m "Description"</li>
        </ul>
        <li>Repeat the previous step</li>
        <li>Undo last local commit (git reset HEAD^) and push to the remote repository (git push)</li>
        <li>Clean up. Delete the remote and local repository</li>
    </ol>
</section>