@{
    ViewBag.Title = "Knockout";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page-header">
    <div class="pull-right">
        <img src='@Url.Content("~/img/knockout.png")' alt="MongoDB" title="MongoDB" style="width: 50px" />
    </div>
    <h1>Knockout</h1>
</div>

